.button{
    background: #26abe2;
    border-radius: 6px;
    box-shadow: 0 1px 1px #666,0 2px 1px #666,0 3px 1px #666,0 4px 1px #666,0 5px 5px #000;
	-moz-box-shadow: 0 1px 1px #666,0 2px 1px #666,0 3px 1px #666,0 4px 1px #666,0 5px 5px #000;
    -webkit-box-shadow: 0 1px 1px #666,0 2px 1px #666,0 3px 1px #666,0 4px 1px #666,0 5px 5px #000;
    font-weight: bold;
    color: white;
    border: 1px solid #888;
    text-shadow: 0 1px 1px #333;
    padding: 3px;
    text-decoration:none;
}
