h1{ 
	color:#2980b9
}

.main-content{
	padding-top: 70px;
}

.action, .button{
    background: #26abe2;
    border-radius: 6px;
    box-shadow: 0 1px 1px #666,0 2px 1px #666,0 3px 1px #666,0 4px 1px #666,0 5px 5px #000;
	-moz-box-shadow: 0 1px 1px #666,0 2px 1px #666,0 3px 1px #666,0 4px 1px #666,0 5px 5px #000;
    -webkit-box-shadow: 0 1px 1px #666,0 2px 1px #666,0 3px 1px #666,0 4px 1px #666,0 5px 5px #000;
    font-weight: bold;
    color: white;
    border: 1px solid #888;
    text-shadow: 0 1px 1px #333;
    text-decoration:none;
    padding:1px;
}

.counter{
	display:inline-block;
	width:30%;
	padding:15px;
	border-style:outset;
}

.counter input[type="text"]{
    width:100%;
}

.barOuter{
	padding:2px;
	background:#CCC;
    border-radius: 6px;
    box-shadow: 0 1px 1px #666,0 2px 1px #666,0 3px 1px #666,0 4px 1px #666,0 5px 5px #000;
	-moz-box-shadow: 0 1px 1px #666,0 2px 1px #666,0 3px 1px #666,0 4px 1px #666,0 5px 5px #000;
    -webkit-box-shadow: 0 1px 1px #666,0 2px 1px #666,0 3px 1px #666,0 4px 1px #666,0 5px 5px #000;
    border: 1px solid #888;
    text-shadow: 0 1px 1px #333;
    margin: 20px 0 10px 0;
}

.barInner{
	background: #26abe2;
	text-align:center;
	border-radius: 6px;
}

.header{
    top: 0;
    height:100px;
    background-color: #DDEEEE;
    width: 100%;
    border-bottom:outset;
}

.header div{
	display:inline-block;
}

.right{
	float:right;
}